body {
  cursor: url('medias/cacer.png'), pointer;
}

@font-face {
  font-family: "DejavuSans-Bold";
  src: url('Font/DejaVuSans-Bold.ttf');
}

@font-face {
  font-family: "DejavuSans-ExtraLight";
  src: url('Font/DejaVuSans-ExtraLight.ttf');
}

@font-face {
  font-family: "DejavuSans-Oblique";
  src: url('Font/DejaVuSans-Oblique.ttf');
}

@font-face {
  font-family: "DejavuSans";
  src: url('Font/DejaVuSans.ttf');
}

@font-face {
  font-family: "DejavuSans-BoldOblique";
  src: url('Font/DejaVuSans-BoldOblique.ttf');
}

div#Partie-Information {
  width: 35%;
  border: 1pt solid black;
  margin: 1%;
  padding: 1%;
}



.presentationprojet {
  font-family: "DejavuSans-ExtraLight";
  font-size: 11pt;
  text-indent: 25%;
  column-count: 2;
  column-gap: 3%;
}

h1 {
  font-family: "DejavuSans-Bold";
  font-size: 250%;
  color: white;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.generateur {
  font-family: "DejavuSans";
  font-size: 12pt;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 1%;
}

#menu-deroulant {
  padding: 1%;
}

.bouton {
  font-family: "DejavuSans";
  font-size: 12pt;
  text-decoration: underline;
  float: left;
  z-index: 10;
  cursor: cell;
}

.bouton:hover {
  text-decoration: underline;
}

.texte {
    z-index: -1;
  position: absolute;
  display: block;
  float: left;
  overflow: scroll;
  height: 25%;
}
ul {
  display: block;
  padding: 2px;
}

a:hover {
  background-color: black;
  color: white;
  cursor: url('medias/carre.png'), pointer;
}
a {
  color: black;
  display: block;
  width: 300px;
  text-decoration: none;
  padding: 5px;
  font-family: "DejavuSans";
  font-size: 12pt;
  border: 1pt solid black;
  text-align: center;
}

.typo {
  width: 10%;
  position: absolute;
  left: 28%;
  top: 52%;
}

.formes {
  width: 40%;
  position: absolute;
  top : 80%;
  padding: 1%;
}
.motifs{
  padding: 1%;
  width: 40%;
  position: absolute;
  top : 95%;
}
.formes01 {
    column-count: 3;
    column-gap: 1em;
}
.motifs01 {
      column-count: 3;
          column-gap: 0.7em;
}
.cat {
  font-family: "DejavuSans";
  font-size: 12pt;
  text-decoration: underline;
}

label {
  font-size: 12pt;
  font-family:"DejavuSans-Oblique";

}
